body{
    background-image: url('Images/Matrix.gif');
    height: 100vh;
    padding:0;
    margin:0;
}
h1{
    background-color: black;
    text-align: center;
    color: white;
    
}
#Wrap1{
	
	width:90%;
	margin:0 auto;
	overflow:auto   ;
    height:100%;
    background-image: url('Images/Games_page.gif');
    background-size: cover; 
    opacity: 0.6; 
   
    
    
    

}
.container {
    position: relative;
    text-align: center;
    color: white;
}

nav ul {
    padding:0;
	margin:0;
	list-style-type: style none;
    text-align: center;

}
nav li{
    display: inline;
    font-size: 50px;
    padding-right: 4%;
    font-family: 'Times New Roman', Times, serif;
}

nav a{
	color:#333;
	font-size:130%;
	font-weight:100;
	text-decoration:none;
    
}

.grid{
    /*flex-wrap:nowrap;*/
    height: 300px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;

    
}

p{
    color: black;
    font: 50;
    
    
}
p1{
    float: right;
    text-align: center;
    color:black;
    


}

.square{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color:black;
}
.gridW{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-content:center;
    width: 618px;
    height: 618px;
}

.mole{
    background-image: url(mole.pngll);
    background-size: cover;

}
